In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# python基础内容教学  
python基本数据类型：[菜鸟教程：数据类型](https://www.runoob.com/python3/python3-data-type.html)

# 如何使用GPT去辅助代码

# Kaggle 基本使用  
kaggle 账号登录与注册  
kaggle 学习与练习  
kaggle 数据的下载与加载

# Python pandas教学  
pandas基本数据结构：Series,DataFrame。  
pandas Series的常用函数，以及Series在DataFrame中的作用  
pandas DataFrame的数据结构特点，创建，数据类型的转变，索引，切片，数据操作  
pandas 读取csv文件  
pandas DataFrame数据清洗的常用函数以及用法，数据拼接

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
#数据加载
df = pd.read_csv(r"/kaggle/input/data-science-day1-titanic/DSB_Day1_Titanic_train.csv")
#DataFrame的创建：分别使用字典以及数组的方式创建DataFrame
df_1 = pd.DataFrame({'name':['mike','julily'],'couse':['English','Chinese']})
df_2 = pd.DataFrame(np.array([['mike','English'],['julily','Chinese']]),columns = ['name','couse'])
print(df_1)
print(df_2)

In [ ]:
#查看泰坦尼克号的数据
#df.head(5)#查看前五行数据
#df.tail(5)#查看后五行数据
#df.sample(5)#随机查看五行数据

In [ ]:
#获得数据结构
#df.shape
#获得数据的大小
#df.size#即数据的行与列的个数相乘，包括了np.nan
#显示所有数据的类型、索引情况、行列数、各字段数据类型、内存占用等。
#df.info()
#获取数据类型
#df.dtypes
#获取数据的列名,可转化为列表的形式
#df.columns
#获取数据的索引，可转化为列表的形式
#df.index

In [ ]:
#描述统计信息
df.describe()
#此外还包括各种统计函数与非统计计算的方法，请自行查阅

# pandas 数据选取:1.如何选取特定行，特定列，筛选出满足条件的行或者列，锁定特定的元素 
## 按行选择 df[...],按索引选择df.loc[<行表达式>, <列表达式>] 按数字选择 df.iloc[]
## 切片选择行 df[5:10] ,筛选数据 df[表达式]

In [ ]:
#按行选择前三行
#df[0:3]
#按索引选择前三行
df.loc[0:2,:]
#按索引选择偶数行，并只需要PassengerId与Sex的列
df.loc[::2,['PassengerId','Sex']]
#选择列的方法
df[['Name','PassengerId']]
#筛选出满足年龄＞50的行
df[df['Age']>50]
#筛选出年龄＞50,且存活的女性的行
df[(df['Age']>50) & (df['Survived']==1) & (df['Sex'] == 'female')]#逻辑运算符 & | ~
#与loc结合
df.loc[df['Age']>50,['Sex','Name','Age']]

# Pandas 数据类型转换  
## 对所有字段指定统一类型
df = pd.DataFrame(data, dtype='float32')  
## 对每个字段分别指定
df = pd.read_excel(data, dtype={'team': 'string', 'Q1': 'int32'}
###  astype()是最常见也是最通用的数据类型转换方法，一般我们使用astype()操作数据转换就可以了。

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].mean())#或 df['Age'].fillna(df['Age'].mean(),copy = True)
df['Age'].astype('int32')

# Pandas 数据排序  
df.sort_index()
df.sort_values()

In [ ]:
#修改值与loc配合
df.loc[df['Age']>50,['Age']] = 50
df[df['Age'] >=50]
#修改列名 df.rename(columns = {})
df.rename(columns = {'Name':'name'})
#修改索引 df.rename(index = {})
df.rename(index = {0:'a',2:'b'})
#增加列
df['real_age'] = df['Age']-1
#增加行
df.loc[len(df),:] = [891,1,2,'mike','male',99,1,2,3,40,'C1','S',22]
#追加合并
df_6 = pd.DataFrame({'a':[1,2,3,4,5],'b':[3,3,3,3,3]})
df_7 = pd.DataFrame({'a':[2,3],'b':[3,3]})
pd.concat([df_6,df_7])
#删除的两种方法，pop与反选法 pop在series中删除索引所选的值，这DataFrame中删除column，若要删除列则要用drop
df_6.drop([2,3],axis=0,inplace = False)
df_6.drop('a',axis=1)

# 数据预处理常用函数  
(1)缺失值处理：dropna(),fillna()  
(2)重复值处理：drop_duplicates()  
(3)检测缺失值:isnull().sum()
[详细请看菜鸟教程](https://www.runoob.com/pandas/pandas-cleaning.html)

In [ ]:
#删除空值

#df.dropna() #一行中有一个缺失值就删除
#df.dropna(axis='columns') # 只保留全有值的列
#df.dropna(how='all') # 行或列全没值才删除
#df.dropna(thresh=2) # 至少有两个空值时才删除
#df.dropna(inplace=True) # 删除并使替换生效
#df.fillna()
#df.drop_duplicates()
#df.isnull().sum()

# Pandas 分类聚合  
> Pandas分组聚合
分组聚合非常常见，我们的数据是扁平化的，没有任何分组信息。
比如我们一周多次去一家便利店，每次会产生一条购买记录，便利店要
想统计每个人这周的购买情况，就需要以人来进行分组，然后将每个人
的所有金额相加  

> df.groupby()方法可以按指定字段对DataFrame进行分组，生成一个
分组器对象。

In [ ]:
df.groupby('Age')#只对一个column进行分组
df.groupby(['real_age','Age']).sum()

In [ ]:
#DataFrame 应用分组
df.groupby(by='Sex').size()#获取类别个数
#df.groupby(by = 'Age').agg({'PassengerId':'sum','Fare':'mean'})
df.groupby(by='Sex').agg({'PassengerId':['sum','mean'],'Fare':['sum','mean']})#利用agg对一个columns数据分别进行不同的统计计算

![agg能执行的操作](https://pic2.zhimg.com/v2-a0b4827a2829c7e4f9082b958f093f7d_r.jpg)

# Pandas 数据分箱
> 数据分箱（data binning，也称为离散组合或数据分桶）是一种数据
预处理技术，它将原始数据分成几个小区间，即bin（小箱子），是一
种量子化的形式。数据分箱可以最大限度减小观察误差的影响。落入给
定区间的原始数据值被代表该区间的值（通常是中心值）替换。然后将
其替换为针对该区间计算的常规值。这具有平滑输入数据的作用，并且
在小数据集的情况下还可以减少过拟合。
Pandas主要基于以两个函数实现连续数据的离散化处理。
pandas.cut：根据指定分界点对连续数据进行分箱处理。
pandas.qcut：根据指定区间数量对连续数据进行等宽分箱处理。
所谓等宽，指的是每个区间中的数据量是相同的  
## 数据分箱,pandas 提供了四种方法between cut qcut value_count  
这里介绍一下cut方法  
cut的参数如下：
  
x：要分箱的数组。 必须是一维的。  
bins：标量序列：定义允许非均匀宽度的 bin 边缘。  
labels：指定返回的 bin 的标签。 必须与上面的 bins 参数长度相同。  
include_lowest: (bool) 第一个区间是否应该是左包含的。

In [ ]:
bins_1 = [0,18,40,50,70,90]
df['Age'] = pd.cut(df['Age'],bins = bins_1,include_lowest = True)
df.sample(5)
#也可以传入labels参数将得到的分组进行分别命名
df['Fare'] = pd.cut(df['Fare'],bins = [1,1000,10000],labels = ['贫穷','富有'])
df.sample(5)

# Pandas 编码  
map() 函数 如果需要把数据集中gender列的男替换为1，女替换为0，怎么做呢？绝对不是用for循环实现，使用Series.map()可以很容易做到，最少仅需一行代码。  
有函数映射以及字典映射，这里介绍使用字典映射的方法

In [ ]:
df['Sex'] = df['Sex'].map({'male':1,'female':0})
df.sample(5)

# Pandas 数据拼接与合并  
> Pandas包的merge、join、concat方法可以完成数据的合并和拼接。

**merge方法主要基于两个dataframe的共同列进行合并；  
join方法主要基于两个dataframe的索引进行合并；  
concat方法是对series或dataframe进行行拼接或列拼接**[详细内容](https://zhuanlan.zhihu.com/p/113618765)  
[可视化的图解](https://zhuanlan.zhihu.com/p/437659884)

# Python seaborn  
> Seaborn 是基于 Python 且非常受欢迎的图形可视化库，在 Matplotlib 的基础上，进行了更高级的封装，使得作图更加方便快捷。即便是没有什么基础的人，也能通过极简的代码，做出具有分析价值而又十分美观的图形。  
*散点图： sns.scatterplot(x='feature1', y='feature2', data=data)   
折线图：  sns.lineplot(x='x_axis', y='y_axis', data=data)  
直方图：sns.histplot(x='variable', data=data, bins=30, kde=True)  
箱线图： sns.boxplot(x='category', y='value', data=data)
热力图： sns.heatmap(data.corr(), annot=True, cmap='coolwarm')*  
[详细操作](https://zhuanlan.zhihu.com/p/669896594)
[官方文档](https://seaborn.pydata.org/tutorial/introduction.html)

In [ ]:
#基本的环境配置
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df.info()
df.isnull().sum()
df['Age'].fillna(df['Age'].mean(),inplace = True)

In [ ]:
fig, axes = plt.subplots(nrows=1, ncols=2)
sns.lineplot(x = 'Age',y = 'Survived',data = df,ax=axes[1])#绘图前记得检查是否有nan值，如果存在nan值则会无法绘制图像
sns.boxplot(x='Pclass',y = 'Parch',data = df,ax=axes[0])
plt.show()

In [ ]:
df.isnull().sum()
df.dropna()

In [ ]:
sns.pairplot(data=df)